@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/form';

.add-page {
  min-height: 100vh;
  background: $color-bg-page;
  display: flex;
  flex-direction: column;
}

.form-scroll {
  flex: 1;
  height: 100vh;
}

/* 提交按钮 */
.submit-btn {
  margin: 40rpx 24rpx 60rpx;
  background: $color-primary;
  border-radius: $radius-btn;
  height: 96rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-disabled {
  opacity: 0.6;
}

.submit-text {
  font-size: 32rpx;
  color: #fff;
  font-weight: 600;
}
